USE [master]
GO
/****** Object:  Database [db]    Script Date: 11/29/2019 11:04:21 AM ******/
CREATE DATABASE [db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db', FILENAME = N'D:\KTra02_aspx\db.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_log', FILENAME = N'D:\KTra02_aspx\db_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/29/2019 11:04:21 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[STT] [varchar](50) NOT NULL,
	[TenSP] [nvarchar](50) NULL,
	[GiaSP] [nvarchar](50) NULL,
	[MoTa] [nvarchar](250) NULL,
	[HinhAnh] [varchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SanPham] ([STT], [TenSP], [GiaSP], [MoTa], [HinhAnh]) VALUES (N'1', N'Sản phẩm 1
', N'735888', N'Đây là sản phẩm thứ 1
', N'hinh (1).jpg
')
INSERT [dbo].[SanPham] ([STT], [TenSP], [GiaSP], [MoTa], [HinhAnh]) VALUES (N'10', N'Sản phẩm 10', N'624916', N'Đây là sản phẩm thứ 1
0', N'hinh (10).jpg
')
INSERT [dbo].[SanPham] ([STT], [TenSP], [GiaSP], [MoTa], [HinhAnh]) VALUES (N'11', N'Sản phẩm 11', N'735888', N'Đây là sản phẩm thứ 1
1', N'hinh (11).jpg
')
USE [master]
GO
