USE [QLSP]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 11/26/2019 7:51:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaL] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiSP] PRIMARY KEY CLUSTERED 
(
	[MaL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/26/2019 7:51:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[GhiChu] [nvarchar](50) NULL,
	[Hinh] [nvarchar](50) NULL,
	[Gia] [varchar](50) NULL,
	[MaLoai] [int] NULL,
	[NhanVien] [nvarchar](50) NULL,
 CONSTRAINT [PK_SanPham] PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/26/2019 7:51:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[SID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[SID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[LoaiSP] ON 

INSERT [dbo].[LoaiSP] ([MaL], [TenLoai]) VALUES (1, N'Văn Học')
INSERT [dbo].[LoaiSP] ([MaL], [TenLoai]) VALUES (2, N'2')
INSERT [dbo].[LoaiSP] ([MaL], [TenLoai]) VALUES (3, N'343')
SET IDENTITY_INSERT [dbo].[LoaiSP] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([MaSP], [Ten], [GhiChu], [Hinh], [Gia], [MaLoai], [NhanVien]) VALUES (1, N'Sản Phẩm 1', N'Sản phẩm có 1 ưu điểm', N'b.jpg', N'1000000', 1, NULL)
INSERT [dbo].[SanPham] ([MaSP], [Ten], [GhiChu], [Hinh], [Gia], [MaLoai], [NhanVien]) VALUES (2, N'Sản Phẩm 2', N'Sản phẩm có 1 ưu điểm', N'c.jpg', N'1000000', 1, NULL)
SET IDENTITY_INSERT [dbo].[SanPham] OFF
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([SID], [Name], [Phone], [Email], [Address]) VALUES (1, N'2', N'3', N'4', N'5')
INSERT [dbo].[Student] ([SID], [Name], [Phone], [Email], [Address]) VALUES (2, N'1', N'2', N'3', N'4')
SET IDENTITY_INSERT [dbo].[Student] OFF
