USE [post]
GO
/****** Object:  Table [dbo].[tb_post]    Script Date: 10/08/2019 08:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_post](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [text] NULL,
	[tomtat] [text] NULL,
	[noidung] [text] NULL,
	[hinhanh] [text] NULL,
	[trangthai] [int] NULL,
 CONSTRAINT [PK_tb_post] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tb_post] ON
INSERT [dbo].[tb_post] ([id], [title], [tomtat], [noidung], [hinhanh], [trangthai]) VALUES (1, N'title1', N'tom tat 1', N'noi dung 1', N'1.jpg', 1)
INSERT [dbo].[tb_post] ([id], [title], [tomtat], [noidung], [hinhanh], [trangthai]) VALUES (2, N'title2', N'tom tat 2', N'noi dung 2', N'2.jpg', 1)
INSERT [dbo].[tb_post] ([id], [title], [tomtat], [noidung], [hinhanh], [trangthai]) VALUES (3, N'title3', N'tom tat 3', N'noi dung 3', N'3.jpg', 3)
SET IDENTITY_INSERT [dbo].[tb_post] OFF
