USE [master]
GO
/****** Object:  Database [CuaHangBanSua]    Script Date: 05/03/2019 15:29:33 ******/
CREATE DATABASE [CuaHangBanSua] ON  PRIMARY 
( NAME = N'CuaHangBanSua', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CuaHangBanSua.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CuaHangBanSua_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\CuaHangBanSua_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CuaHangBanSua].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CuaHangBanSua]
GO
/****** Object:  User [SV-PC\SV]    Script Date: 05/03/2019 15:29:33 ******/
CREATE USER [SV-PC\SV] FOR LOGIN [F74-26\SV] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 05/03/2019 15:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[Password] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LoaiSua]    Script Date: 05/03/2019 15:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSua](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_LoaiSua] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPhamSua]    Script Date: 05/03/2019 15:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SanPhamSua](
	[MaSua] [char](5) NOT NULL,
	[TenSua] [nvarchar](50) NULL,
	[GiaBan] [decimal](18, 0) NULL,
	[MaLoai] [int] NULL,
	[HinhAnh] [nvarchar](100) NULL,
	[NhaSanXuat] [nvarchar](50) NULL,
	[MoTa] [nvarchar](100) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_SanPhamSua] PRIMARY KEY CLUSTERED 
(
	[MaSua] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HoaDonBan]    Script Date: 05/03/2019 15:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDonBan](
	[MaHDBan] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [varchar](10) NULL,
	[NgayLap] [date] NULL,
	[TongTien] [decimal](18, 0) NULL,
	[TrangThai] [int] NULL,
 CONSTRAINT [PK_HoaDonBan] PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChiTietHDBan]    Script Date: 05/03/2019 15:29:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHDBan](
	[MaHDBan] [int] NOT NULL,
	[MaSanPham] [char](5) NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
	[SoLuong] [int] NULL,
 CONSTRAINT [PK_ChiTietHDBan] PRIMARY KEY CLUSTERED 
(
	[MaHDBan] ASC,
	[MaSanPham] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  ForeignKey [FK_SanPhamSua_LoaiSua]    Script Date: 05/03/2019 15:29:34 ******/
ALTER TABLE [dbo].[SanPhamSua]  WITH CHECK ADD  CONSTRAINT [FK_SanPhamSua_LoaiSua] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSua] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPhamSua] CHECK CONSTRAINT [FK_SanPhamSua_LoaiSua]
GO
/****** Object:  ForeignKey [FK_HoaDonBan_NhanVien]    Script Date: 05/03/2019 15:29:34 ******/
ALTER TABLE [dbo].[HoaDonBan]  WITH CHECK ADD  CONSTRAINT [FK_HoaDonBan_NhanVien] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDonBan] CHECK CONSTRAINT [FK_HoaDonBan_NhanVien]
GO
/****** Object:  ForeignKey [FK_ChiTietHDBan_HoaDonBan]    Script Date: 05/03/2019 15:29:34 ******/
ALTER TABLE [dbo].[ChiTietHDBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBan_HoaDonBan] FOREIGN KEY([MaHDBan])
REFERENCES [dbo].[HoaDonBan] ([MaHDBan])
GO
ALTER TABLE [dbo].[ChiTietHDBan] CHECK CONSTRAINT [FK_ChiTietHDBan_HoaDonBan]
GO
/****** Object:  ForeignKey [FK_ChiTietHDBan_SanPhamSua]    Script Date: 05/03/2019 15:29:34 ******/
ALTER TABLE [dbo].[ChiTietHDBan]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHDBan_SanPhamSua] FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPhamSua] ([MaSua])
GO
ALTER TABLE [dbo].[ChiTietHDBan] CHECK CONSTRAINT [FK_ChiTietHDBan_SanPhamSua]
GO
