CREATE DATABASE DemoDB
go
USE DemoDB
go
CREATE TABLE LOP(
	MaLop int PRIMARY KEY IDENTITY,
	TenLop nvarchar(50) NULL
)
go
INSERT INTO LOP VALUES (N'CĐTH 17A');
INSERT INTO LOP VALUES (N'CĐTH 17B');
INSERT INTO LOP VALUES (N'CĐTH 17C');
go
CREATE TABLE SINH_VIEN(
	MSSV nvarchar(10) PRIMARY KEY,
	HoTen nvarchar(50) NULL,
	NgaySinh date NULL,
	GioiTinh bit NULL,
	DiemTB float NULL,
	MaLop int NULL
) 
Go
INSERT INTO SINH_VIEN VALUES ('0306171020',N'Hồ Tiến Đạt','1999-1-4',1,7.4,1);
INSERT INTO SINH_VIEN VALUES ('0306171021',N'Triệu Văn Định','1999-4-4',1,7.8,1);
INSERT INTO SINH_VIEN VALUES ('0306171023',N'Phùng Hiểu Đông','1999-8-18',1,8.1,2);
