CREATE DATABASE [QuanLyBanHangDB]
GO
USE [QuanLyBanHangDB]
GO
/****** Object:  Table [dbo].[NHASANXUAT]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHASANXUAT](
	[MANSX] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[WEBSITE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_NHASANXUAT] PRIMARY KEY CLUSTERED 
(
	[MANSX] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[NHASANXUAT] ON
INSERT [dbo].[NHASANXUAT] ([MANSX], [TEN], [WEBSITE], [EMAIL], [XOA], [GHICHU]) VALUES (1, N'Intel', NULL, NULL, 0, NULL)
INSERT [dbo].[NHASANXUAT] ([MANSX], [TEN], [WEBSITE], [EMAIL], [XOA], [GHICHU]) VALUES (2, N'SamSung', NULL, NULL, 0, NULL)
INSERT [dbo].[NHASANXUAT] ([MANSX], [TEN], [WEBSITE], [EMAIL], [XOA], [GHICHU]) VALUES (3, N'KingMax', NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[NHASANXUAT] OFF
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[TENDANGNHAP] [varchar](30) NOT NULL,
	[MATKHAU] [char](32) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[EMAIL] [varchar](30) NULL,
	[DIACHI] [ntext] NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [bit] NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[TENDANGNHAP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[WEBSITE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAISP] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_LOAISANPHAM] PRIMARY KEY CLUSTERED 
(
	[MALOAISP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] ON
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TEN], [XOA], [GHICHU]) VALUES (1, N'CPU', 0, NULL)
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TEN], [XOA], [GHICHU]) VALUES (2, N'SSD', 0, NULL)
INSERT [dbo].[LOAISANPHAM] ([MALOAISP], [TEN], [XOA], [GHICHU]) VALUES (3, N'RAM', 0, NULL)
SET IDENTITY_INSERT [dbo].[LOAISANPHAM] OFF
/****** Object:  Table [dbo].[KHACHANG]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[EMAIL] [varchar](30) NULL,
	[DIACHI] [ntext] NULL,
	[DIENTHOAI] [varchar](20) NULL,
	[NGAYSINH] [datetime] NULL,
	[GIOITINH] [bit] NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_KHACHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](255) NULL,
	[MALOAISP] [int] NULL,
	[MANSX] [int] NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[MOTA] [ntext] NULL,
	[XOA] [bit] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON
INSERT [dbo].[SANPHAM] ([MASP], [TEN], [MALOAISP], [MANSX], [SOLUONG], [DONGIA], [MOTA], [XOA], [GHICHU]) VALUES (1, N'Core i3 - 4170', 1, 1, 0, NULL, N'Chíp Core i3 - 4170 - 3.3GHz', 0, NULL)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
/****** Object:  Table [dbo].[HDNHAPHANG]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HDNHAPHANG](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNHAP] [datetime] NULL,
	[MANV] [varchar](30) NULL,
	[MANCC] [int] NULL,
	[TONGTIEN] [int] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_HDNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HDBANHANG]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HDBANHANG](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAYBAN] [datetime] NULL,
	[MANV] [varchar](30) NULL,
	[MAKH] [int] NULL,
	[TONGTIEN] [int] NULL,
	[GHICHU] [ntext] NULL,
 CONSTRAINT [PK_HDBANHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CTHDNHAPHANG]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDNHAPHANG](
	[MAHD] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CTHDNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTHDBANHANG]    Script Date: 03/26/2019 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHDBANHANG](
	[MAHD] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
 CONSTRAINT [PK_CTHDBANHANG] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASP] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF_KHACHANG_GIOITINH]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[KHACHANG] ADD  CONSTRAINT [DF_KHACHANG_GIOITINH]  DEFAULT ((1)) FOR [GIOITINH]
GO
/****** Object:  Default [DF_KHACHANG_XOA]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[KHACHANG] ADD  CONSTRAINT [DF_KHACHANG_XOA]  DEFAULT ((0)) FOR [XOA]
GO
/****** Object:  Default [DF_LOAISANPHAM_XOA]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[LOAISANPHAM] ADD  CONSTRAINT [DF_LOAISANPHAM_XOA]  DEFAULT ((0)) FOR [XOA]
GO
/****** Object:  Default [DF_NHACUNGCAP_XOA]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[NHACUNGCAP] ADD  CONSTRAINT [DF_NHACUNGCAP_XOA]  DEFAULT ((0)) FOR [XOA]
GO
/****** Object:  Default [DF_NHANVIEN_GIOITINH]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_GIOITINH]  DEFAULT ((0)) FOR [GIOITINH]
GO
/****** Object:  Default [DF_NHANVIEN_XOA]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[NHANVIEN] ADD  CONSTRAINT [DF_NHANVIEN_XOA]  DEFAULT ((0)) FOR [XOA]
GO
/****** Object:  Default [DF_NHASANXUAT_XOA]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[NHASANXUAT] ADD  CONSTRAINT [DF_NHASANXUAT_XOA]  DEFAULT ((0)) FOR [XOA]
GO
/****** Object:  Default [DF_SANPHAM_SOLUONG]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_SOLUONG]  DEFAULT ((0)) FOR [SOLUONG]
GO
/****** Object:  Default [DF_SANPHAM_XOA]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [DF_SANPHAM_XOA]  DEFAULT ((0)) FOR [XOA]
GO
/****** Object:  ForeignKey [FK_CTHDBANH_REFERENCE_HDBANHAN]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[CTHDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDBANH_REFERENCE_HDBANHAN] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HDBANHANG] ([MAHD])
GO
ALTER TABLE [dbo].[CTHDBANHANG] CHECK CONSTRAINT [FK_CTHDBANH_REFERENCE_HDBANHAN]
GO
/****** Object:  ForeignKey [FK_CTHDBANH_REFERENCE_SANPHAM]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[CTHDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDBANH_REFERENCE_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHDBANHANG] CHECK CONSTRAINT [FK_CTHDBANH_REFERENCE_SANPHAM]
GO
/****** Object:  ForeignKey [FK_CTHDNHAP_REFERENCE_HDNHAPHA]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[CTHDNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDNHAP_REFERENCE_HDNHAPHA] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HDNHAPHANG] ([MAHD])
GO
ALTER TABLE [dbo].[CTHDNHAPHANG] CHECK CONSTRAINT [FK_CTHDNHAP_REFERENCE_HDNHAPHA]
GO
/****** Object:  ForeignKey [FK_CTHDNHAP_REFERENCE_SANPHAM]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[CTHDNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTHDNHAP_REFERENCE_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTHDNHAPHANG] CHECK CONSTRAINT [FK_CTHDNHAP_REFERENCE_SANPHAM]
GO
/****** Object:  ForeignKey [FK_HDBANHAN_REFERENCE_KHACHANG]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[HDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDBANHAN_REFERENCE_KHACHANG] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HDBANHANG] CHECK CONSTRAINT [FK_HDBANHAN_REFERENCE_KHACHANG]
GO
/****** Object:  ForeignKey [FK_HDBANHAN_REFERENCE_NHANVIEN]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[HDBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDBANHAN_REFERENCE_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[HDBANHANG] CHECK CONSTRAINT [FK_HDBANHAN_REFERENCE_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_HDNHAPHA_REFERENCE_NHACUNGC]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[HDNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDNHAPHA_REFERENCE_NHACUNGC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[HDNHAPHANG] CHECK CONSTRAINT [FK_HDNHAPHA_REFERENCE_NHACUNGC]
GO
/****** Object:  ForeignKey [FK_HDNHAPHA_REFERENCE_NHANVIEN]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[HDNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_HDNHAPHA_REFERENCE_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([TENDANGNHAP])
GO
ALTER TABLE [dbo].[HDNHAPHANG] CHECK CONSTRAINT [FK_HDNHAPHA_REFERENCE_NHANVIEN]
GO
/****** Object:  ForeignKey [FK_SANPHAM_REFERENCE_LOAISANP]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_REFERENCE_LOAISANP] FOREIGN KEY([MALOAISP])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAISP])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_REFERENCE_LOAISANP]
GO
/****** Object:  ForeignKey [FK_SANPHAM_REFERENCE_NHASANXU]    Script Date: 03/26/2019 14:14:34 ******/
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_REFERENCE_NHASANXU] FOREIGN KEY([MANSX])
REFERENCES [dbo].[NHASANXUAT] ([MANSX])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_REFERENCE_NHASANXU]
GO
