----CSDL QUANLYBANHANG
---- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- --VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- --HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- --CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)
-- --THÊM	
-- --1.VIẾT LỆNH TẠO BẢNG CÓ KHÓA CHÍNH, KHÓA NGOẠI CHO CÁC BẢNG
-- --2.THÊM RÀNG BUỘC EMAIL PHẢI CÓ DẤU @
-- --3.THÊM RÀNG BUỘC GIÁ BÁN>=VATTU.GIAMUA
-- --4.THÊM RÀNG BUỘC NGÀY TẠO HÓA ĐƠN LÀ NGÀY HIỆN HÀNH
-- --GETDATE()
-- --5.THÊM 1 DÒNG BẤT KỲ VÀO BẢNG HOADON: INSERT
-- --6.XÓA HÓA ĐƠN LẬP NGÀY 27/12/2018: DELETE
-- --7.SỬA GIÁ MUA TĂNG 10% CHO DVT LÀ BAO:UPDATE
-- --
----Câu 1: vIẾT các truy vấn sau SELECT
----1.	Hiển danh sách tất cả các khách hàng gồm mã khách hàng,
---- tên khách hàng, địa chỉ, điện thoại, và địa chỉ E-mail.
select * from khachhang
----2.	Hiển danh sách các khách hàng có địa chỉ là “TAN BINH”
---- gồm mã khách hàng, tên khách hàng, địa chỉ, điện thoại, 
---- và địa chỉ E-mail.
 select * from khachhang where diachi like N'%tan binh%'
----3.	Hiển danh sách các khách hàng có địa chỉ là 
----“BINH CHANH” gồm mã khách hàng, tên khách hàng, địa chỉ, 
----điện thoại, và địa chỉ E-mail.
--select 
----4.	Hiển danh sách các khách hàng gồm các thông tin 
----mã khách hàng, tên khách hàng, địa chỉ và địa chỉ E-mail 
----của những khách hàng chưa có số điện thoại
select makh,tenkh,diachi,email
from khachhang
where dt is null --is not null
----
----KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
---- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
---- HOADON(MAHD,NGAY,MAKH,TONGTG)	
---- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	

----5.	Hiển danh sách các khách hàng chưa có số điện thoại 
----và cũng chưa có địa chỉ Email gồm mã khách hàng, tên khách 
----hàng, địa chỉ.
--select makh,tenkh,diachi,email
--from khachhang
--where dt is null and email is null
----6.	Hiển danh sách các khách hàng đã có số điện thoại 
----và địa chỉ E-mail gồm mã khách hàng, tên khách hàng, 
----địa chỉ, điện thoại, và địa chỉ E-mail.
--select makh,tenkh,diachi,dt,email
--from khachhang
--where dt is not null and email is not null
--7.	Hiển danh sách tất cả các vật tư gồm mã vật tư, tên vật
-- tư, đơn vị tính và giá mua.
-- select mavt,tenvt,dvt,giamua
-- from vattu
-- --
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	
-- --
--8.	Hiển danh sách các vật tư có đơn vị tính là “CAI” 
--gồm mã vật tư, tên vật tư và giá mua.
--select mavt,tenvt,giamua
-- from vattu
-- where dvt =N'cai'
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	
--9.	Hiển danh sách các vật tư gồm mã vật tư, tên vật tư, 
--đơn vị tính và giá mua mà có giá mua trên 25000.
--select mavt,tenvt,dvt,giamua
-- from vattu
-- where giamua>25000
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	
--10.	Hiển danh sách các vật tư là “GẠCH” (bao gồm các 
--loại gạch) gồm mã vật tư, tên vật tư, đơn vị tính và 
--giá mua . 
--select mavt,tenvt,dvt,giamua
-- from vattu
-- where tenvt like N'%gạch%'
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	
--11.	Hiển danh sách các vật tư gồm mã vật tư, tên vật tư, 
--đơn vị tính và giá mua mà có giá mua nằm trong khoảng từ 
--20000 đến 40000.
--select mavt,tenvt,dvt,giamua
-- from vattu
-- where giamua>=20000 and giamua<=40000
-- --hay giamua between 20000 and 40000
-- --ko viết: 20000<=giamua<=40000
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	
--12.	Tạo query để lấy ra các thông tin gồm Mã hoá đơn, 
--ngày lập hoá đơn, tên khách hàng, địa chỉ khách hàng và 
--số điện thoại.
--select mahd,ngay,tenkh,diachi,dt
--from khachhang a, hoadon b
--where a.makh=b.makh
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	

--13.	Tạo query để lấy ra các thông tin gồm Mã hoá đơn, 
--tên khách hàng, địa chỉ khách hàng và số điện thoại 
--của ngày 25/5/2000.
--select mahd,tenkh,diachi,dt
--from khachhang a, hoadon b
--where a.makh=b.makh and ngay='5/25/2000'
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	

--14.	Tạo query để lấy ra các thông tin gồm Mã hoá đơn, 
--ngày lập hoá đơn, tên khách hàng, địa chỉ khách hàng và 
--số điện thoại của những hoá đơn trong tháng 6/2000.
--select mahd,tenkh,ngay,diachi,dt
--from khachhang a, hoadon b
--where a.makh=b.makh and month(ngay)=6 and year(ngay)=2000
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	

--15.	Tạo query để lấy ra các thông tin gồm Mã hoá đơn, 
--ngày lập hoá đơn, tên khách hàng, địa chỉ khách hàng và 
--số điện thoại.

----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)	

--16.	Lấy ra danh sách những khách hàng (tên khách hàng, 
--địa chỉ, số điện thoại) đã mua hàng trong tháng 6/2000.
--select tenkh,diachi,dt
--from khachhang a, hoadon b
--where month(ngay)=6 and year(ngay)=2000 and a.makh=b.makh
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)
--17(*).	Lấy ra danh sách những khách hàng không mua hàng 
--trong tháng 6/2000 gồm các thông tin tên khách hàng, 
--địa chỉ, số điện thoại.
--select tenkh,diachi,dt from khachhang
--where makh not in(
--				--ds makh mua hàng 6/2000
--				select makh from hoadon
--				where month(ngay) =6 and year(ngay)=2000
--				)
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)
--18.	Tạo query để lấy ra các thông tin gồm các thông tin 
--mã hóa đơn, ,mã vật tư, tên vật tư, đơn vị tính, giá bán, 
--giá mua, số lượng , trị giá mua (giá mua * số lượng), 
--trị giá bán , ( giá bán * số lượng).
--select mahd,a.mavt,tenvt,dvt,giaban,giamua,sl,N'trị giá mua'
--=giamua*sl,N'trị giá bán'=giaban*sl
--from vattu a, chitiethoadon b
--where a.mavt=b.mavt
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)
--19.	Tạo query để lấy ra các chi tiết hoá đơn gồm các thông 
--tin mã hóa đơn, ,mã vật tư, tên vật tư, đơn vị tính, giá 
--bán, giá mua, số lượng , trị giá mua (giá mua * số lượng), 
--trị giá bán , ( giá bán * số lượng) mà có giá bán lớn hơn
-- hoặc bằng giá mua.
--select mahd,a.mavt,tenvt,dvt,giaban,giamua,sl,N'trị giá mua'
--=giamua*sl,N'trị giá bán'=giaban*sl
--from vattu a, chitiethoadon b
--where a.mavt=b.mavt and giaban>=giamua
--20.(*)	Tạo query để lấy ra các thông tin gồm mã hóa đơn, 
--,mã vật tư, tên vật tư, đơn vị tính, giá bán, giá mua, 
--số lượng , trị giá mua (giá mua * số lượng), trị giá bán ,
-- ( giá bán * số lượng) và cột khuyến mãi với khuyến mãi 
-- 10% cho những mặt hàng bán trong một hóa đơn lơn hơn 100.
--select mahd,a.mavt,tenvt,dvt,giaban,giamua,sl,N'trị giá mua'
--=giamua*sl,N'trị giá bán'=giaban*sl,N'khuyến mãi'=case when
--sl>100 then 0.1 else 0 end
--from vattu a, chitiethoadon b
--where a.mavt=b.mavt
--21.	Tìm ra những mặt hàng chưa bán được.
--select * from vattu
--where mavt not in(select mavt from chitiethoadon)
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)

--22.	Tạo bảng tổng hợp gồm các thông tin: mã hóa đơn, 
--ngày hoá đơn, tên khách hàng, địa chỉ, số điện thoại, 
--tên vật tư, đơn vị tính, giá mua, giá bán, số lượng, 
--trị giá mua, trị giá bán. 

----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,TONGTG)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)

--23.	Tạo bảng tổng hợp của tháng 5/2000 gồm các thông tin:
-- mã hóa đơn, ngày hoá đơn, tên khách hàng, địa chỉ, số điện
--  thoại, tên vật tư, đơn vị tính, giá mua, giá bán, số 
--  lượng, trị giá mua, trị giá bán. 
--select mahd,a.mavt,tenvt,dvt,giaban,giamua,sl,N'trị giá mua'
--=giamua*sl,N'trị giá bán'=giaban*sl
--from vattu a, chitiethoadon b,hoadon c
--where a.mavt=b.mavt and month(ngay)=5 and year(ngay)=2000
--  and b.mahd = c.mahd
--24.	Tạo bảng tổng hợp của tháng 6/2000 gồm các thông tin: 
--mã hóa đơn, ngày hoá đơn, tên khách hàng, địa chỉ, số điện 
--thoại, tên vật tư, đơn vị tính, giá mua, giá bán, số lượng,
-- trị giá mua, trị giá bán. 
 
--25.	Tạo bảng tổng hợp của quý 1 năm 2000 gồm các thông tin:
-- mã hóa đơn, ngày hoá đơn, tên khách hàng, địa chỉ, số điện
--  thoại, tên vật tư, đơn vị tính, giá mua, giá bán, số 
--  lượng, trị giá mua, trị giá bán. 
-- select mahd,a.mavt,tenvt,dvt,giaban,giamua,sl,N'trị giá mua'
--=giamua*sl,N'trị giá bán'=giaban*sl
--from vattu a, chitiethoadon b,hoadon c
--where a.mavt=b.mavt and month(ngay)>=1 and year(ngay)=2000
--  and b.mahd = c.mahd and month(ngay)<=3

--26.	Lấy ra danh sách các hoá đơn gồm các thông tin: 
--Số hoá đơn, ngày, tên khách hàng, địa chỉ khách hàng, 
--tổng trị giá của hoá đơn.
--select mahd,ngay,tenkh,diachi,tongtg
--from hoadon a, khachhang b
--where a.makh=b.makh
----nếu database ko có cột tongtg
--select mahd,ngay,tenkh,diachi,tongtg=sum(sl*giaban)
--from hoadon a, khachhang b
--where a.makh=b.makh
--group by mahd,ngay,tenkh,diachi
----
-- KHACHHANG(MAKH,TENKH,DIACHI,DT,EMAIL)	
-- VATTU(MAVT,TENVT,DVT,GIAMUA,SLTON)	
-- HOADON(MAHD,NGAY,MAKH,tongtg)	
-- CHITIETHOADON(MAHD,MAVT,SL,KHUYENMAI,GIABAN)

--27.	Lấy ra hoá đơn có tổng trị giá lớn nhất gồm các thông 
--tin: Số hoá đơn, ngày, tên khách hàng, địa chỉ khách hàng,
-- tổng trị giá của hoá đơn.
--select mahd,ngay,tenkh,diachi,tongtg
--from hoadon a, khachhang b
--where a.makh=b.makh and 
--tongtg =(select max(tongtg) from hoadon)
----ko viet tongtg=max(tongtg)
----
----nếu database ko có cột tongtg
--select mahd,ngay,tenkh,diachi,tongtg=sum(sl*giaban)
--from hoadon a, khachhang b, chitiethoadon c
--where a.makh=b.makh and a.mahd=c.mahd
--group by mahd,ngay,tenkh,diachi
--having sum(sl*giaban)>=all(select sum(sl*giaban)
--						from hoadon a, khachhang b, 
--						chitiethoadon c
--						where a.makh=b.makh and a.mahd=c.mahd
--						group by mahd,ngay,tenkh,diachi
--						)

--28.	Lấy ra hoá đơn có tổng trị giá lớn nhất trong tháng 
--5/2000 gồm các thông tin: Số hoá đơn, ngày, tên khách hàng,
-- địa chỉ khách hàng, tổng trị giá của hoá đơn.
--select mahd,ngay,tenkh,diachi,tongtg=sum(sl*giaban)
--from hoadon a, khachhang b, chitiethoadon c
--where a.makh=b.makh and a.mahd=c.mahd and month(ngay)=5
--and year(ngay)=2000
--group by mahd,ngay,tenkh,diachi
--having sum(sl*giaban)>=all(select sum(sl*giaban)
--						from hoadon a, khachhang b, 
--						chitiethoadon c
--						where a.makh=b.makh and a.mahd=c.mahd
--						and month(ngay)=5 and year(ngay)=2000
--						group by mahd,ngay,tenkh,diachi
--						)
----làm lại tất cả nộp vào đầu giờ tuần sau trên giấy đôi
----29.	Lấy ra hoá đơn có tổng trị giá nhỏ nhất gồm các thông
---- tin: Số hoá đơn, ngày, tên khách hàng, địa chỉ khách hàng,
----  tổng trị giá của hoá đơn.
  
----30.	Đếm xem mỗi khách hàng có bao nhiêu hoá đơn.
----31.	Lấy ra các thông tin của khách hàng có số lượng hoá đơn mua hàng nhiều nhất.
----32.	Lấy ra các thông tin của khách hàng có số lượng hàng mua nhiều nhất.
----33.	Lấy ra các thông tin về các mặt hàng mà được bán trong nhiều hoá đơn nhất.
----34.	Lấy ra các thông tin về các mặt hàng mà được bán nhiều nhất.
----35.	Lấy ra danh sách tất cả các khách hàng gồm Mã khách hàng, tên khách hàng, địa chỉ , số lượng hoá đơn đã mua (nếu khách hàng đó chưa mua hàng thì cột số lượng hoá đơn để trống)
----cau 35
--select k.makh,tenkh,diachi, 
--               case when (not exists (select makh from hoadon)) then 0
--	  else (select sum(sl) from hoadon h,cthoadon c
--                       where h.mahd=c.mahd and k.makh=h.makh
--	          group by h.makh)
--	         end  as slmua
--from khachhang k
----Câu 4: Tạo các function sau:
----1.	Viết  hàm tính doanh thu cuả năm.. với năm là tham số truyền  vào.
----2.	Viết  hàm tính doanh thu cuả tháng .. với tháng là tham số truyền  vào.
----3.	Viết hàm tính doanh thu của khách hàng với  mã khách hàng là tham số truyền vào.
----4.	Viết hàm tính tổng số lượng bán được cho từng mặt hàng theo tháng với  mã hàng và thàng nhập vào,  nếu tháng không nhập vào tức là tính tất cả các tháng.
----5.	Viết hàm tính lãi ((trị giá bán – trừ trị giá mua )* slố lượng bán được ) cho từng mặt hàng, với mã mặt hàng là tham số truyền vào. Nếu mã mặt hàng không truyền vào thì tính cho tất cả các mặt hàng.

----Câu 5: Tạo các procedure sau:
----1.	Lấy ra danh các khách hàng đã mua hàng trong ngày [ngày]…. Với [ngày] là tham số truyền vào.
----2.	Lấy ra danh sách 5 khách hàng  có tổng trị giá các đơn hàng lớn nhất.
----3.	Lấy ra danh sách 10 mặt hàng có số lượng bán lớn nhất.
----4.	Lấy ra danh sách 10 mặt hàng bán ra có lãi ít nhất.
----5.	Tính giá trị cho cột khuyến mãi như sau: Khuyến mãi 5% nếu SL >100, 10% nếu SL>500.
----6.	Tính số lại số lượng tồn cho tất cả các mặt hàng. (SLTON = SLTON – tổng sl bán được)
----7.	Tính trị giá cho mỗi hoá đơn.
----8.	Tạo ra table KH_VIP có cấu trúc giống với cấu trúc table KHACHHANG. Lưu các khách hàng có tổng trị giá của tất cả các đơn hàng >=10000000 vào table KH_VIP.
